body {
background-image: url("https://images.unsplash.com/photo-1506811761660-cd6b7d7310cd?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=735500c0a0068f1bc58b7a03a0647c76&auto=format&fit=crop&w=564&q=80"); 
background-repeat: no-repeat;
background-size: cover;
}
/* .container-fluid {
  /* display: flex; */
  /* flex-wrap: wrap */
/* } */

.search-height {
  /* height: 100vh; */
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: solid red; */
  flex-wrap: wrap;
}
.results-display {
  border: solid red;
  display: flex;
  flex-wrap: wrap;
}
.nav-bar {
  display: flex;
  justify-content: center;
  margin-top: 250px;
}